.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  outline: none;
}

.menu__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 0;
  position: relative;
  width: 100%;
}

.menu__logo {
  margin-bottom: 20vh;
  width: 60%;
}

@media (max-width: 1024px) {
  .menu__logo {
    width: 80%;
  }
}

.menu__nav-button {
  --buttonFontSize: calc((56 / 16) * 1rem);

  bottom: 12px;
  left: 12px;
  position: fixed;
}

.menu__username {
  text-align: center;
  width: 500px;
}

@media (max-width: 1024px) {
  .menu__username {
    width: 80%;
  }
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
